body{
    background-image: url(../images/street-fighter-background.jpg);
}
.logo{
    margin-left: 42%;
    width: 15%;
}
.fighter1{
    width: 200%;
}
.fighter4{
    width: 200%;
    
}
.fighter3{
    width: 200%;
    
}
.fighter2{
    width: 200%;
    
}
#opponent{
    color:white;
margin-left: 75%;
}
#player{
    color:white;
    margin-left: 10%;
}
.ken{
   width: 16%;
}
.ryu{
   width: 16%;
}
.sakura{
    width: 16%;
}
.chibi{
    width: 16%;
}
.character-section{
    margin-left: 10%;
}