body{
    background-image: url(../images/street-fighter-background.jpg);
}
.logo{
    margin-left: 38%;
    width: 20%;
}
.fighter1{
    width: 200%;
}
.fighter4{
    width: 200%;
    
}
.fighter3{
    width: 200%;
    
}
.fighter2{
    width: 200%;
    
}
#opponent{
    color:white;
margin-left: 75%;
}
#player{
    color:white;
    margin-left: 10%;
}
.ken{
   width: 25%;
}
.ryu{
   width: 25%;
}
.sakura{
    width: 25%;
}
.chibi{
    width: 25%;
}